<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding>
        
          <ion-item class="login-inputs-user">
            <ion-input class="input" type="text" placeholder="Usuário"></ion-input>
          </ion-item>
  
          <ion-item class="login-inputs-pass">
            <ion-input  type="password" placeholder="Senha"></ion-input>
          </ion-item>
        </div>
  
        <div padding>
          <ion-button  routerLink="" expand="block">Entrar</ion-button>
        </div>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="ion-padding">
    <ion-button>ajuda </ion-button>

  </div>
 


</ion-content>

 